.grid {
  height: 560px;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  position: relative;
  margin: auto;
  margin-top: 10rem;
}

.grid div {
  height: 70px;
  width: 70px;
}